<ul>
    <li>
        <a asp-page="index">Home</a>
    </li>
    <li>
        <a asp-page="About">About</a>
    </li>
    <li>
        <a asp-page="Login">Login</a>
    </li>
    <li>
        <a asp-page="Categories">Categories</a>
    </li>
</ul>